<nz-result nzStatus="500" nzTitle="500" nzSubTitle="Lo sentimos, hay un error en el servidor.">
    <div nz-result-extra>
      <button nz-button nzType="primary" [routerLink]="retryRoute">Intentar de nuevo</button>
    </div>
</nz-result>