.gold-divider {
  border: 0.5px solid #ebe5d4;
  width: 30%;
  margin-left: 0;
  margin-bottom: 15px;
}
[nz-form] {
  max-width: 600px;
}

.phone-select {
  width: 70px;
}

.register-are {
  margin-bottom: 8px;
}
