<h2 nz-typography>COMISIONES</h2>
<hr class="gold-divider" />
<!-- <p nz-typography>AGENTE</p> -->

<div class="result-add-wrapper" nz-row>
  <div class="add-button" nzOffset="12" nz-col nzSpan="12">
    <button nz-button nzType="primary" (click)="showModal()">
      <i nz-icon nzType="cloud-download"></i>
      ESTADO DE CUENTA
    </button>
  </div>
</div>
<br>
<!-- Table -->

<!-- noData Template -->
<ng-template #noData>
  <nz-empty [nzNotFoundContent]="noFoundText"></nz-empty>
</ng-template>
<ng-template #noFoundText>
  <span> NO HAY REGISTROS</span>
</ng-template>
<!-- noData -->

<nz-table class="agents-table" nzTableLayout="fixed" nzSize="middle" [nzLoading]="fetchingData"
  [nzData]="commissionData" [nzNoResult]="noData" [nzFrontPagination]="false">
  <thead>
    <tr>
      <th>ID</th>
      <th>NOMBRE COMERCIO</th>
      <th>ESTATUS</th>
      <th>BONO REGISTRO</th>
      <th>BONO AFILIACIÓN</th>
      <th>SEMANA</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of commissionData | paginate: { itemsPerPage: 3, currentPage: currentPage }; let i = index">
      <td>{{ item.id }}</td>
      <td>{{ item.NombreComercio }}</td>
      <td class="status-td">
        <ng-container>
          <div class="{{ item.Status === 1 ? 'status-active' : 'status-inactive' }}"></div>
          <span *ngIf="item.Status === 1">Activo</span>
          <span *ngIf="item.Status === 0">Inactivo</span>
        </ng-container>
      </td>
      <td>${{ item.BonoRegistro }}</td>
      <td>${{ item.BonoAfiliacion }}</td>
      <td>{{ item.Semana }}</td>
    </tr>
  </tbody>
</nz-table>
    <pagination-controls (pageChange)="currentPage = $event" autoHide="true"
    responsive="true" previousLabel="Ant."
    nextLabel="Sig." class="controles"></pagination-controls>

<!-- Modal -->
<app-modal-agent-commission [isModalVisible]="isModalVisible" (showModal)="showModal()">
</app-modal-agent-commission>