.loader{
  display: flex;
  align-items: center !important;
  justify-content: center;
}
nz-divider {
    color: #333;
    font-weight: normal;
  }
  .inner-box {
    // padding: 8px 0;
  }

.card-mat{
    min-width: 200px;
    margin-top: 6px;
}

.card-avat{
    width: 70px;
    height: 70px;
    border: 1px double #C1CE00;
}