<nz-tabset>
    <nz-tab nzTitle="Manuales">
        <div nz-row>
            <i nz-icon [nzType]="'loading'" style="font-size: 64px;" *ngIf="loading" class="loader"></i>
            
            <div nz-col *ngFor="let item of manuales" nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">
                <nz-card class="card-mat inner-box" [nzActions]="[actionSetting, actionEdit]">
                    <nz-skeleton [nzActive]="true" [nzLoading]="loading" [nzAvatar]="{ size: 'large' }">
                        <nz-card-meta [nzAvatar]="avatarTemplate" nzTitle="{{ item.namewo }}" nzDescription="This is the description">
                        </nz-card-meta>
                    </nz-skeleton>
                </nz-card>
                <ng-template #avatarTemplate>
                    <nz-avatar nzSrc="assets/images/docs.png" *ngIf="item.ext === 'pdf'" [nzSize]="64"></nz-avatar>
                    <nz-avatar nzSrc="assets/images/manual.png" *ngIf="item.ext === 'txt'" [nzSize]="64"></nz-avatar>
                    <nz-avatar nzSrc="assets/images/photoi.png" *ngIf="item.ext === 'png'" [nzSize]="64"></nz-avatar>
                </ng-template>
                <ng-template #actionSetting>
                    <a href="{{ item.link }}">
                        <i nz-icon nzType="eye"></i>
                    </a>
                </ng-template>
                <ng-template #actionEdit>
                    <a href="{{ item.link }}" target="_blank">
                        <i nz-icon nzType="download"></i>
                    </a>
                </ng-template>
            </div>
        </div>
    </nz-tab>
    <nz-tab nzTitle="Flyers">
        <div nz-row>
            <i nz-icon [nzType]="'loading'" style="font-size: 64px;" *ngIf="loading" class="loader"></i>
            <div nz-col *ngFor="let item of flyers" nzSpan="6" class="inner-box">
                <nz-card class="card-mat" [nzActions]="[actionSetting, actionEdit]">
                    <nz-skeleton [nzActive]="true" [nzLoading]="loading" [nzAvatar]="{ size: 'large' }">
                        <nz-card-meta [nzAvatar]="avatarTemplate" nzTitle="{{ item.namewo }}" nzDescription="This is the description">
                        </nz-card-meta>
                    </nz-skeleton>
                </nz-card>
                <ng-template #avatarTemplate>
                    <nz-avatar nzSrc="assets/images/docs.png" *ngIf="item.ext === 'pdf' || item.ext === 'docx'" [nzSize]="64"></nz-avatar>
                    <nz-avatar nzSrc="assets/images/manual.png" *ngIf="item.ext === 'txt'" [nzSize]="64"></nz-avatar>
                    <nz-avatar nzSrc="assets/images/photoi.png" *ngIf="item.ext === 'png'" [nzSize]="64"></nz-avatar>
                </ng-template>
                <ng-template #actionSetting>
                    <a href="{{ item.link }}">
                        <i nz-icon nzType="eye"></i>
                    </a>
                </ng-template>
                <ng-template #actionEdit>
                    <a href="{{ item.link }}" target="_blank">
                        <i nz-icon nzType="download"></i>
                    </a>
                </ng-template>
            </div>
        </div>
    </nz-tab>
    <nz-tab nzTitle="Videos">
        <div nz-row>
            <i nz-icon [nzType]="'loading'" style="font-size: 64px;" *ngIf="loading" class="loader"></i>
            <div nz-col *ngFor="let item of videos" nzSpan="6" class="inner-box">
                <nz-card class="card-mat" [nzActions]="[actionSetting, actionEdit]">
                    <nz-skeleton [nzActive]="true" [nzLoading]="loading" [nzAvatar]="{ size: 'large' }">
                        <nz-card-meta [nzAvatar]="avatarTemplate" nzTitle="{{ item.namewo }}" nzDescription="This is the description">
                        </nz-card-meta>
                    </nz-skeleton>
                </nz-card>
                <ng-template #avatarTemplate>
                    <nz-avatar nzSrc="assets/images/docs.png" *ngIf="item.ext === 'pdf'" [nzSize]="64"></nz-avatar>
                    <nz-avatar nzSrc="assets/images/manual.png" *ngIf="item.ext === 'txt'" [nzSize]="64"></nz-avatar>
                    <nz-avatar nzSrc="assets/images/photoi.png" *ngIf="item.ext === 'png'" [nzSize]="64"></nz-avatar>
                </ng-template>
                <ng-template #actionSetting>
                    <a href="{{ item.link }}">
                        <i nz-icon nzType="eye"></i>
                    </a>
                </ng-template>
                <ng-template #actionEdit>
                    <a href="{{ item.link }}" target="_blank">
                        <i nz-icon nzType="download"></i>
                    </a>
                </ng-template>
            </div>
        </div>
    </nz-tab>
  </nz-tabset>


