<nz-modal
  nzWrapClassName="vertical-center-modal"
  nzTitle="DESCARGAR ESTADO DE CUENTA"
  [nzFooter]=null
  [(nzVisible)]="isModalVisible"
  (nzOnCancel)="handleCancel()"
>
  <nz-list
      [nzLoading]="isLoading"
      [nzDataSource]="months"
      nzBordered
      nzSize="small"
      [nzRenderItem]="listItems"
    >
    <ng-template #listItems let-item>
      <li nz-list-item [nzActions]="[opAction]" [nzContent]="item.name" nzNoFlex></li>
      <ng-template #opAction><a href="#" (click)="selMonths($event, item.id)"><i nz-icon nzType="download" nzTheme="outline"></i></a></ng-template>
    </ng-template>

    </nz-list>

</nz-modal>

  <!-- NOTIFICATION -->
  <app-notification
  *ngIf="showNotification"
  [type]="notification.type"
  [title]="notification.title"
  [errorMsg]="notification.message"
  (hideNotification)="hideNotification()"
  >
  </app-notification>