::ng-deep .vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  ::ng-deep .vertical-center-modal .ant-modal {
    top: 0;
  }
  ::ng-deep .ant-modal-header {
    padding: 16px 24px 7px 24px;
  }
  .note {
    font-size: 12px;
    margin: -1em 0 2em 0;
  }
  .detail-item {
    margin: 10px 0;
    
    &.btn-wrapper {
      display: flex;
      justify-content: flex-end;
  
      & > button {
        margin: 1em .5em -1em;
      }
    }
  }
  .status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: .5em;
    &.active {
      background: #72bec9;
    }
    &.disabled {
      background: rgba(0,0,0,.3);
    }
  }