html, body { 
  box-sizing: border-box;
 }
.nz-header {
  width: 100vw;
  height: 55px;
  left: 0px;
  top: 0px;
  background: #313e48;
}

.main {
  // position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 277px;
  left: 0px;
  top: 50px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(177, 182, 177, 0.16) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background: url("/assets/images/person.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: normal, darken;
  border: 1px solid #242424;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(1, 0, 0, 0.98);
}

.txt > h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
}



@media (max-width: 576px) {
  .nz-header {
    width: 100%;
  }
  .main{
    display: flex;
    flex-direction: column;
    min-width: 23rem;
    overflow: hidden;
    overflow-x: hidden;
  }
  .txt{
    h1{
      font-size: 40px;
    }
  }
  .logon{
    width: 100%;
    img{
      position: absolute;
      top: 0;
      left: 40%;
      max-width: 100%;
      height: 40px;
      margin: 10px;
    }
  }
  .inputs{
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background-color: white;
    width: 100vw;
    box-sizing: border-box;
    padding: 40px 90px;
  }
}


@media (max-width: 320px){
  .nz-header{
    width: 115%;
  }
  .main{
    width: 90%;
  }
  .inputs{
    width: 115%;
  }
}

@media (max-width: 360px){
  .nz-header{
    width: 116%;
  }

  .main{
    width: 116%;
    .logon{
      width: 100%;
      img{
        position: absolute;
        top: 0;
        left: 49%;
        max-width: 100%;
        height: 40px;
        margin: 10px;
      }
    }
  }
  .inputs{
    width: 116%;
  }
}

@media (min-width: 960px) {

  .main{
    height: 350px;
  }

  .logon{
    position: absolute;
    width: 190px;
    height: 90px;
    top: 100px;
    left: 100px;
    img{
      width: 131px;
      height: 90px;
    }
  }

  
  .inputs > h1 {
    font-size: 48px;
  }

  .inputs {
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background-color: white;
    min-width:100vw;
    box-sizing: border-box;
    padding: 90px 90px;
    // top: 50px;
  
  }

}
