<nz-layout>
    <nz-header class="nz-header">
    </nz-header>
    <div class="main">
        <div class="logon">
            <img src="assets/images/logo.png" class="">
        </div>
        <div class="txt">
            <h1>Portal de Agentes</h1>
        </div>
    </div>
    <div class="inputs">
        <h1>¡HOLA!</h1>
        <app-form-login></app-form-login>
    </div>
</nz-layout>