<div class="ce">
<nz-result nzStatus="404" nzTitle="404" nzSubTitle="Lo sentimos, la página que visitaste no existe.">
    <div nz-result-extra>
      <button nz-button nzType="primary" routerLink="/login">Volver a la página de inicio</button>
    </div>
</nz-result>
</div>