// html, body {
//   max-width: 100%;
//   overflow-x: hidden;
// }


.main-w {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 60vh;
  min-width: 400px;
  .main-im {
    // margin: 0 auto;
    // position: relative;
    width: 200px;
    height: 400px;
    border-radius: 16em;
    background: url("/assets/images/welcome.svg");
    background-size: cover;
  }
}

@media (min-width: 960px) {
  .main-w {
    .main-im {
      width: 350px;
      height: 350px;
    }
  }
}
