.login-form {
    max-width: 500px;
    width: 500px;
}

  .login-form-margin {
    margin-bottom: 6px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
    height: 35px;
    background: #6BD18E;
    border-radius: 8px;
  }

  @media (max-width: 576px) { 
    .login-form {
      max-width: 300px;
      width: 300px;
    }   
  }