<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm($event)">
    <nz-form-item>
      <nz-form-control nzErrorTip="Por favor ingresa tu usuario">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="username" placeholder="Usuario" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Porfavor ingresa tu contraseña">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Contraseña" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div nz-row class="login-form-margin">
      <!-- <div nz-col [nzSpan]="12">
        <label nz-checkbox formControlName="remember">
          <span>Remember me</span>
        </label>
      </div>
      <div nz-col [nzSpan]="12">
        <a class="login-form-forgot">Forgot password</a>
      </div> -->
    </div>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'"
    [disabled]="!validateForm.valid || isLoading"
    [nzLoading]="isLoading" [nzType]="'primary'">ACCEDER</button>
    <!-- Or <a> register now! </a> -->
  </form>

  <!-- NOTIFICATION -->
<app-notification
*ngIf="showNotification"
[type]="notification.type"
[title]="notification.title"
[errorMsg]="notification.message"
(hideNotification)="hideNotification()"
>
</app-notification>