<h2 nz-typography>AFILIACIONES</h2>
<hr class="gold-divider" />
<!-- <p nz-typography>AGENTE</p> -->

<!-- Table -->

<!-- noData Template -->
<ng-template #noData>
  <nz-empty [nzNotFoundContent]="noFoundText"></nz-empty>
</ng-template>
<ng-template #noFoundText>
  <span> NO HAY REGISTROS</span>
</ng-template>
<!-- noData -->

<nz-table class="agents-table" nzTableLayout="fixed" nzSize="middle" [nzLoading]="fetchingData" [nzData]="affiliationData"
  [nzNoResult]="noData" [nzFrontPagination]="false">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre comercio</th>
      <th>Nombre Cliente</th>
      <th>Fecha Afiliación</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of affiliationData">
      <td>{{ item.BLMID }}</td>
      <td>{{ item.NombreComercio }}</td>
      <td>
        {{ item.Agente }}
      </td>
      <td>{{ item.FechaAfiliacion | date: 'mediumDate': 'UTC-5' : 'es' }}</td>
    </tr>
  </tbody>
</nz-table>