.gold-divider {
  border: 0.5px solid #ebe5d4;
  width: 30%;
  margin-left: 0;
  margin-bottom: 15px;
}

.result-add-wrapper {
  margin: 1em 0;

  .add-button > button > i,
  .result-label {
    vertical-align: middle;
  }
  .add-button > button {
    float: right;
  }
}

.agents-table {
  th,
  td {
    text-align: center;
  }
  td > span > i {
    color: #9eb3b6;
  }
  .status-td > span {
    margin: 0 0.5em;
  }

  .status-active,
  .status-inactive {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
  }
  .status-active {
    background: #72bec9;
  }
  .status-inactive {
    background: rgba(0, 0, 0, 0.3);
  }
}

@media screen and (max-width: 576px) {
  .agents-table {
    display: block;
    overflow-x: auto;
  }
}
