<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
      <div class="sidebar-logo">
        <a href="https://qiubo.mx/" target="_blank">
          <img src="assets/images/logo.png" alt="logo">
          <h1>QIUBO</h1>
        </a>
      </div>
      <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-menu-item nzIcon="tags" [routerLink]="['panel/comision']">
          <i nz-icon nzType="tags"></i>
          <span>Comisiones</span>
        </li>
        <li nz-menu-item nzIcon="usergroup-add" [routerLink]="['panel/afiliacion']">
          <i nz-icon nzType="usergroup-add"></i>
          <span >Afiliaciones</span>
        </li>
        <li nz-menu-item nzIcon="folder-open" [routerLink]="['panel/material']">
          <i nz-icon nzType="folder-open"></i>
          <span >Material</span>
        </li>
        <!-- <li nz-menu-item nzIcon="user-add" [routerLink]="['panel/register-user']">
          <i nz-icon nzType="user-add"></i>
          <span >Registro Agente</span>
        </li> -->
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <i class="trigger"
                 nz-icon
                 [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></i>
          </span>
          <a class="wrapper" nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="position">
            ALDO BELTRÁN
            <i nz-icon nzType="down"></i>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item (click)="signOut()">
                <i nz-icon nzType="logout"></i>
                Cerrar sesión</li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
  