<ng-template #notifyMe>
    <div class="ant-notification-notice-content">
      <div class="ant-notification-notice-with-icon">
        <span class="ant-notification-notice-icon">
          <ng-container [ngSwitch]="type">
            <i *ngSwitchCase="'success'" class="success-icon" nz-icon nzType="check-circle" nzTheme="fill"></i>
            <i *ngSwitchCase="'error'" class="error-icon" nz-icon nzType="close-circle" nzTheme="fill"></i>
          </ng-container>
        </span>
        <div class="ant-notification-notice-message">
          {{ title }}
        </div>
        <div class="ant-notification-notice-description">
          {{ errorMsg }}
        </div>
      </div>
    </div>
  </ng-template>